body{
    background-color: #eaf6f6;
    font-family: 'Courier New', Courier, monospace
}

a{
    color: #66bfbf;
}



.weather-app{
    background-color: #fcfefe;
    margin: 60px auto ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    max-width: 980px;
}

header{
    border-bottom: 1px solid #66bfbf ;
    padding-bottom: 30px  ;
}

.search-input{
    background-color: #eaf6f6;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 80%;
    border-radius: 25px ;
    font-family: 'Courier New', Courier, monospace;
}

.search-button{
    margin-left: 1px;
    font-size: 16px;
    background-color: #66bfbf;
    color: white;
    border: none;
    padding: 20px 30px;
    line-height: 1;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;

}


main{
    padding: 30px 0;
}

.current-temperature{
 font-size: 40px;   
}

.current-weather{
    display: flex;
    justify-content: space-between;
}
.current-city{
    font-size: 38px;
    font-weight: 900;
    margin: 0;
   color: #66bfbf;
}



.current-details{
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.temperature-icon{
    position: relative;
     width: 88px;
    height: 88px;
}
.country{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px rgba(108, 149, 236, 0.726)

    
}
.current-temperature-value{
    font-size: 80px;
    font-weight: bold;
    color: #66bfbf;

}

.current-temperature-unit{
    font-size: 28px;
    position: relative;
    top: -30px;
    color: #79c2d0;
    font-family: 'Courier New', Courier, monospace;

}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

.weather-forecast-date{
    font-size: 22px;
    margin-bottom: 20px;
}

.weather-forecast-temperature{
    font-size: 18px;
    color: black;
    display: flex;
    margin-top: 20px;
}    

.weather-forecast-temperature-min{
    opacity: 0.5;
margin-left: 10px;
    
}
footer{
    text-align: center;
    color: rgba(39, 33, 66blue, 0.4);
    border-top: 2px  solid #66bfbf;
    padding-top: 15px;
}